name: deploy site
on:
  push:
    branches: [main]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP version 8.3
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
      - uses: actions/checkout@v2
      - name: Copy .env.example to .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - name: Install composer dependencies
        run: composer install
      - name: Install NPM dependencies
        run: npm install
      - name: Minify CSS and JS files
        run: npm run build
      - name: rsync deployments
        uses: burnett01/rsync-deployments@5.2.1
        with:
          switches: -avzr --exclude=".env" --exclude=".git" --exclude="database/database.sqlite" --exclude=".github" --exclude="node_modules"
          path: /
          remote_path: ${{ secrets.REMOTE_PATH }}
          remote_host: ${{ secrets.SSH_HOST }}
          remote_user: ${{ secrets.SSH_USERNAME }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
          remote_key_pass: ${{ secrets.SSH_PASSPHRASE }}
      - name: set folder ownership
        uses: appleboy/ssh-action@dce9d565de8d876c11d93fa4fe677c0285a66d78
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          script: |
            cd /var/www/
            chown www-data:www-data ${{ secrets.REMOTE_PATH }} -R
